---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getPostUrl } from "@/utils/getPostPaths";
import { toTransitionName } from "@/utils/toTransitionName";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"posts">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, coverImage, ...props } = data;
const postUrl = getPostUrl(id, filePath, Astro.currentLocale);
---

<li class="my-6">
  <a
    href={postUrl}
    class:list={[
      "group block overflow-hidden rounded-lg transition-transform hover:scale-105",
    ]}
  >
    {
      coverImage && (
        <div class="bg-muted mb-4 aspect-video overflow-hidden rounded-lg">
          {typeof coverImage === "string" ? (
            <img
              src={coverImage}
              alt={title}
              class="h-full w-full object-cover"
            />
          ) : (
            <Image
              src={coverImage}
              alt={title}
              class="h-full w-full object-cover"
            />
          )}
        </div>
      )
    }
  </a>
  <a
    href={postUrl}
    class:list={[
      "text-accent inline-block text-lg font-medium",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <Heading transition:name={toTransitionName(title)}>
      {title}
    </Heading>
  </a>
  <Datetime {...props} />
  <p>{description}</p>
</li>
